.blogHeader {
    background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

// The Image
.randomImg {
    width: 22%;
    height: 200px;
    position: absolute;
    top:700px;
    left: 0;
    z-index: 1;
}
// Main Section
main {
    position: relative;
    background-color: $pine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}
main h3 {
    
    font-size: $bigheadingFontSize;
    color: $yellow;
}
main h4 {
    margin-bottom: 10px;
    font-size: $smallheadingFontSize;
    color: $yellow;
}
main p {
    font-size: $baseFont;
    color: white;
}
main ul {
    padding-left: 20px;
    list-style-type: circle;
    display: flex;
    flex-direction: column;
}
main li {
    margin: 0;
    color: white;
    font-size: $baseFont;
}

// Featured Restaurant Section
.featuredRestaurant-section {
    display: block;
    width: 20%;
    height: 50vh;
    background-color: $almostblack;
    margin: 60px 60px;
    padding: 150px 0 20px 20px;
}
.featuredRestaurant-section p {
    margin-top: 0;
}
// Employment Section
.columnRight {
    width: 60%;
}
.employment-section img {
    position: absolute;
    display:block;
    border-left: 8px solid $yellow;
    border-bottom: 8px solid $yellow;
    width: 60%;
    height: 50vh;
    right: 0;
    top: -60px;
}
.employment_Info {
    margin-top: 410px;
    border-left: 4px solid $yellow;
    border-bottom: 4px solid $yellow;
    padding: 40px;
}

// Comment Section
.comment-section {
    padding: 0 40px;
}
.comment-section h3{
    text-transform: uppercase;
    color: $white;
}
.flexbox {
    margin: 30px 0;
    display: flex;
    font-size:$baseFont;
}
.flexbox p{
    margin-left: 20px;
}
.flexbox p:first-child {
    color: $yellow;
    font-weight: 700;
}


