// Header Section
.homeHeader {
    background-image: url(../the-restaurant-mall-assets/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

span {
    width: 280px;
    // display: inline-block;
    box-sizing:border-box;
    background-color: $white;
    color: black;
    font-size: $bigheadingFontSize;
    padding-left: 10px;
    
}
.weirdh1 {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 700;
}

.sidepicture {
    position: absolute;
    width: 50%;
    height: 45%;
    top: 20%;
    right: 0
}

// Home Section
.homeSection {
    background-color: $pine;
    color: $white;
    padding-top: 130px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.homeSection h2 {
    font-weight: 700;
    font-size: $bigheadingFontSize;
    font-family: $baseFont;
    text-transform: uppercase;
}
.box1, .box2, .box3, .box4 {
    width: calc(45% - 60px);
    padding : 0 30px;
    position: relative;

}
.box1::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3c5";
    display: inline-block;
    color: black;
    font-size: $normalFontSize;
    border-radius: 50%;
    border: 2px solid $yellow;
    background-color: $yellow;
    position: absolute;
    left: -15px;
    top: 35px;
    padding: 10px;
}
.box2::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0c0";
    color: black;
    font-size: $normalFontSize;
    border-radius: 50%;
    border: 2px solid $yellow;
    background-color: $yellow;
    position: absolute;
    left: -25px;
    top: 35px;
    padding: 10px;
}

.box3::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f15b";
    color: black;
    font-size: $normalFontSize;
    border-radius: 50%;
    border: 2px solid $yellow;
    background-color: $yellow;
    position: absolute;
    left: -15px;
    top: 35px;
    padding: 10px;
}

.box4::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f095";
    color: black;
    font-size: $normalFontSize;
    border-radius: 50%;
    border: 2px solid $yellow;
    background-color: $yellow;
    position: absolute;
    left: -25px;
    top: 35px;
    padding: 10px;
}

// Best Burger Section
.bestBurger-section {
    display: flex; 
    justify-content: space-evenly;
    background-color: $almostblack;
    color: $white;
    position: relative;
    height: 70vh;
    font-size: $baseFont;
}
.bestBurger-section h2{
    font-size:$bigheadingFontSize;
    text-transform: uppercase;
}

.columnleft, .columnright {
    width: 45%;
    padding: 0 30px;
    // position:relative;
}
.columnleftWrapper {
    width: 45%;
    position: absolute;
    bottom: 0;
    padding: 0 120px 40px 0;
    text-align: right;
}
.columnrightWrapper {
    width: 42%;
    position: absolute;
    padding: 15px 0 0 30px;
    margin-bottom: 40px;
}
.columnleft img {
    position: absolute;
    width: 42%;
    top: -60px;
    left: 0;
    border-right: 8px solid $yellow;
    border-bottom: 8px solid $yellow;
}

.columnright img {
    position: absolute;
    width: 45%;
    bottom: -80px;
    right: 0;
    border-left: 8px solid $yellow; 
    border-bottom: 8px solid $yellow;
}
.bestBurger-section button {
    background-color: $yellow;
    font-size: $buttonFontSize;
    text-transform: uppercase;
    border: 0px;
}

// Gift Card Section
.giftcard-section {
    text-align: center;
    padding: 70px 30px;
    background-color: $pine;
    color: $white;
    font-size: $baseFont;
}

.giftcard-section h3{
    font-size: $bigheadingFontSize;
    color: $yellow;
}

.giftcard-section button {
    background-color: black;
    font-size: $buttonFontSize;
    color: $white;
    border: 0;
}
// Random Image Setion
.randomImage {
    width: 100%;
}
// Nature in Space Section
.nature-section {
    display: flex;
    background-color: $pine;
    padding: 30px;
    font-size: $baseFont;
    color: $white;
}
.nature-section div {
    padding-left: 50px;
}
.nature-section h3{
    text-transform: uppercase;
    color: $yellow;
    font-size: $bigheadingFontSize;
}
.nature-section button {
    background-color: black;
    font-size: $buttonFontSize;
    color: $white;
    border: 0;
}

// Gallery Section
.gallery-section {
    background-color: $almostblack;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

// Media Query for Home
@media (max-width: 420px) {
    
    .homeHeader {
        background-size: cover;
        height: auto;
        
    }
    ul {
        flex-direction: column;
    }
    .weirdh1 {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right; 
    }
    .weirdh1 span {
        width:auto;
        font-size: $mediaHeadFontSize;
    }
    .sidepicture {
        display: none;
    }
    // Home Section
    .homeSection {
        padding: 20px 20px 20px 50px;
        flex-direction: column;
    }
    .homeSection div {
        width: 85%;
    }
    .homeSection h2 {
        font-size: $mediaHeadingFontSize;
    }
    .box1::before, .box2::before, .box3::before, .box4::before {
        top: 10px;
    }

    .bestBurger-section {
        flex-direction: column;
        overflow: hidden;
        height: auto;
        text-align: center;
    }
    .bestBurger-section img {
        position:static;
    }
    .columnleft, .columnright, .columnleftWrapper,.columnrightWrapper {
        padding: 0 0 10px 15px;
        text-align:center;
        height: auto;
        overflow: hidden;
        position: static;
        width: 95%;
    }
    // Nature in Space Section 
    .nature-section {
        flex-direction: column;
    }
    .nature-section div {
        text-align: left;
    }
    // Gallery Section
    .gallery-section {
        flex-direction:column;
    }
}
