$yellow: #FFD300;
$white: #FFFFFF;
$almostblack: #171B0E;
$pine: #2B331B;
$black: 0F0F0F;

$baseFont: "JosefinSans", sans-serif;

$headFontSize: 45px;
$bigheadingFontSize: 40px;
$smallheadingFontSize: 25px;
$buttonFontSize: 22.4px;
$normalFontSize: 20px;

$mediaHeadFontSize: 25px;
$mediaHeadingFontSize:20px;
$mediaSmallHeadingFontSize: 15px;
$mediaNormalFontSize: 15px;
$mediaButtonFontSIze: 12px;