@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.homeHeader {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.hamburgermenu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border: 1px solid blakc;
  background: white;
  cursor: pointer;
}

.menuIcon {
  background-color: #2B331B;
  color: white;
  width: 15px;
  height: 10px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

span {
  width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  color: black;
  font-size: 40px;
  padding-left: 10px;
}

.weirdh1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-weight: 700;
}

.sidepicture {
  position: absolute;
  width: 50%;
  height: 45%;
  top: 20%;
  right: 0;
}

.homeSection {
  background-color: #2B331B;
  color: #FFFFFF;
  padding-top: 130px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.homeSection h2 {
  font-weight: 700;
  font-size: 40px;
  font-family: "JosefinSans", sans-serif;
  text-transform: uppercase;
}

.box1, .box2, .box3, .box4 {
  width: calc(45% - 60px);
  padding: 0 30px;
  position: relative;
}

.box1::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline-block;
  color: black;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #FFD300;
  background-color: #FFD300;
  position: absolute;
  left: -15px;
  top: 35px;
  padding: 10px;
}

.box2::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: black;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #FFD300;
  background-color: #FFD300;
  position: absolute;
  left: -25px;
  top: 35px;
  padding: 10px;
}

.box3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: black;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #FFD300;
  background-color: #FFD300;
  position: absolute;
  left: -15px;
  top: 35px;
  padding: 10px;
}

.box4::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: black;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #FFD300;
  background-color: #FFD300;
  position: absolute;
  left: -25px;
  top: 35px;
  padding: 10px;
}

.bestBurger-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #171B0E;
  color: #FFFFFF;
  position: relative;
  height: 70vh;
  font-size: "JosefinSans", sans-serif;
}

.bestBurger-section h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.columnleft, .columnright {
  width: 45%;
  padding: 0 30px;
}

.columnleftWrapper {
  width: 45%;
  position: absolute;
  bottom: 0;
  padding: 0 120px 40px 0;
  text-align: right;
}

.columnrightWrapper {
  width: 42%;
  position: absolute;
  padding: 15px 0 0 30px;
  margin-bottom: 40px;
}

.columnleft img {
  position: absolute;
  width: 42%;
  top: -60px;
  left: 0;
  border-right: 8px solid #FFD300;
  border-bottom: 8px solid #FFD300;
}

.columnright img {
  position: absolute;
  width: 45%;
  bottom: -80px;
  right: 0;
  border-left: 8px solid #FFD300;
  border-bottom: 8px solid #FFD300;
}

.bestBurger-section button {
  background-color: #FFD300;
  font-size: 22.4px;
  text-transform: uppercase;
  border: 0px;
}

.giftcard-section {
  text-align: center;
  padding: 70px 30px;
  background-color: #2B331B;
  color: #FFFFFF;
  font-size: "JosefinSans", sans-serif;
}

.giftcard-section h3 {
  font-size: 40px;
  color: #FFD300;
}

.giftcard-section button {
  background-color: black;
  font-size: 22.4px;
  color: #FFFFFF;
  border: 0;
}

.randomImage {
  width: 100%;
}

.nature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2B331B;
  padding: 30px;
  font-size: "JosefinSans", sans-serif;
  color: #FFFFFF;
}

.nature-section div {
  padding-left: 50px;
}

.nature-section h3 {
  text-transform: uppercase;
  color: #FFD300;
  font-size: 40px;
}

.nature-section button {
  background-color: black;
  font-size: 22.4px;
  color: #FFFFFF;
  border: 0;
}

.gallery-section {
  background-color: #171B0E;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 420px) {
  .homeHeader {
    background-size: cover;
    height: auto;
  }

  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .weirdh1 {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }

  .weirdh1 span {
    width: auto;
    font-size: 25px;
  }

  .sidepicture {
    display: none;
  }

  .homeSection {
    padding: 20px 20px 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .homeSection div {
    width: 85%;
  }

  .homeSection h2 {
    font-size: 20px;
  }

  .box1::before, .box2::before, .box3::before, .box4::before {
    top: 10px;
  }

  .bestBurger-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: auto;
    text-align: center;
  }

  .bestBurger-section img {
    position: static;
  }

  .columnleft, .columnright, .columnleftWrapper, .columnrightWrapper {
    padding: 0 0 10px 15px;
    text-align: center;
    height: auto;
    overflow: hidden;
    position: static;
    width: 95%;
  }

  .nature-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nature-section div {
    text-align: left;
  }

  .gallery-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.blogHeader {
  background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.randomImg {
  width: 22%;
  height: 200px;
  position: absolute;
  top: 700px;
  left: 0;
  z-index: 1;
}

main {
  position: relative;
  background-color: #2B331B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

main h3 {
  font-size: 40px;
  color: #FFD300;
}

main h4 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #FFD300;
}

main p {
  font-size: "JosefinSans", sans-serif;
  color: white;
}

main ul {
  padding-left: 20px;
  list-style-type: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main li {
  margin: 0;
  color: white;
  font-size: "JosefinSans", sans-serif;
}

.featuredRestaurant-section {
  display: block;
  width: 20%;
  height: 50vh;
  background-color: #171B0E;
  margin: 60px 60px;
  padding: 150px 0 20px 20px;
}

.featuredRestaurant-section p {
  margin-top: 0;
}

.columnRight {
  width: 60%;
}

.employment-section img {
  position: absolute;
  display: block;
  border-left: 10px solid #FFD300;
  border-bottom: 10px solid #FFD300;
  width: 60%;
  height: 50vh;
  right: 0;
  top: -60px;
}

.employment_Info {
  margin-top: 410px;
  border-left: 4px solid #FFD300;
  border-bottom: 4px solid #FFD300;
  padding: 40px;
}

.comment-section {
  padding: 0 40px;
}

.comment-section h3 {
  text-transform: uppercase;
  color: #FFFFFF;
}

.flexbox {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: "JosefinSans", sans-serif;
}

.flexbox p {
  margin-left: 20px;
}

.flexbox p:first-child {
  color: #FFD300;
  font-weight: 700;
}

@media (max-width: 420px) {
  .blogHeader {
    height: auto;
    background-image: contain;
  }

  .blogHeader h1 {
    position: absolute;
    top: 70px;
    right: 50px;
  }

  .randomImg {
    position: static;
    width: 100%;
    height: auto;
  }

  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .featuredRestaurant-section, .columnRight {
    width: 100%;
    padding: 10px;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 30px;
  }

  .wrapper1, .wrapper2 {
    width: 95%;
  }

  .employment-section img {
    position: static;
    width: 100%;
  }

  .employment_Info {
    margin-top: 20px;
  }
}
.contactHeader {
  background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.info_Section {
  background-color: #2B331B;
  font-size: "JosefinSans", sans-serif;
  color: white;
  padding: 50px;
}

.social_Media ul {
  padding: 0;
}

.social_Media a {
  color: #FFD300;
}

.info_Section p {
  margin-left: 15px;
}

.contact_Info p {
  margin: 0 15px;
}

.formPosition {
  width: 45%;
  height: auto;
  padding: 20px 10px;
  background-color: #171B0E;
  border-right: 8px solid #FFD300;
  border-bottom: 8px solid #FFD300;
  position: absolute;
  right: 50px;
  top: 350px;
}

@media (max-width: 420px) {
  .contactHeader {
    background-size: cover;
    height: auto;
  }

  .contactHeader h1 {
    position: absolute;
    top: 80px;
    right: 30px;
  }

  .info_Section {
    text-align: center;
  }

  .social_Media ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .formPosition {
    position: static;
    width: 100%;
    border: 0;
  }
}
html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
  color: #FFFFFF;
  padding-left: 50px;
}

form {
  text-align: left;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

input[type=text],
input[type=email] {
  height: 48px;
  background-color: #2B331B;
  color: #FFFFFF;
  padding: 0 13px;
  width: 45%;
  margin: 10px;
  border: 0;
  border-bottom: 2px solid #FFD300;
}

textarea {
  height: 100px;
  margin: 10px;
  width: 95%;
  padding: 5px 13px 0;
  background-color: #2B331B;
  color: white;
  border: 2px solid #FFD300;
}

input[type=submit] {
  width: 95%;
  font-size: 22.4px;
  text-transform: uppercase;
  color: black;
  background-color: #FFD300;
  border: 0;
  padding: 0;
  margin: 0 10px;
}

footer {
  background-color: black;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

li {
  margin: 20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #FFD300;
}

.selected {
  border-bottom: 2px solid #FFD300;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 420px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  h3, h4 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  button {
    font-size: 12px;
  }

  input[type=text],
input[type=email] {
    width: 95%;
  }
}